.action-button {
    cursor: pointer;
  }
  
  td input {
    width: 100%;
  }
  
  .totals-table {
    width: 380px;
    float: right;
  }
  
  .totals-table th {
    width: 140px;
  }
  
  .totals-table td {
    text-align: right;
  }